.headline {
  font-size: 2rem;
  font-weight: 700;
}
.cards {
  padding-top: 1.5rem;
}

.card-title {
  font-size: 1.5rem;
}

.card-body {
  min-height: 30rem; 
  overflow: auto; 
}

.card-subtitle{
  padding-top: 1rem;
}
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


